<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">

<style>
    .navbar{
        background: linear-gradient(90deg,#0072ff,#00c6ff);
    }
</style>

<div th:fragment="eheader">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">

<div class="container">

<!-- Logo -->
<a class="navbar-brand fw-bold" href="/employer/dashboard">
    <span style="color:#00c6ff;">Hire</span><span style="color:#ffffff;">Hub</span>
</a>

<!-- Toggle -->
<button class="navbar-toggler"
type="button"
data-bs-toggle="collapse"
data-bs-target="#empNavbar">
<span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="empNavbar">

<!-- Center Menu -->
<ul class="navbar-nav mx-auto">

<li class="nav-item">
<a class="nav-link" href="/employer/dashboard">Dashboard</a>
</li>

<li class="nav-item">
<a class="nav-link" href="/employer/postjob">Post Job</a>
</li>

<li class="nav-item">
<a class="nav-link" href="/employer/applications">Applications</a>
</li>


</ul>

<ul class="navbar-nav">

<li class="nav-item dropdown">

<a class="nav-link dropdown-toggle text-white btn btn-primary fw-bold"
   href="#"
   role="button"
   data-bs-toggle="dropdown">

   <span th:text="${employer != null ? employer.employerName : 'Employer'}">
   </span>
</a>

<ul class="dropdown-menu dropdown-menu-end">

<li>
<a class="dropdown-item" href="#">Profile</a>
</li>

<li><hr class="dropdown-divider"></li>

<li>
<form th:action="@{/elogout}" method="post">
<button type="submit" class="dropdown-item text-danger">Logout</button>
</form>
</li>

</ul>

</li>

</ul>

</div>

</div>

</nav>

</div>

<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
