<div th:fragment="footer">

<footer class="bg-dark text-light pt-5 pb-3">
    <div class="container">

        <div class="row">

            <div class="col-md-4">
                <h5>HireHub</h5>
                <p>Find jobs and hire talent easily.</p>
            </div>

            <div class="col-md-4">
                <h6>Quick Links</h6>
                <ul class="list-unstyled">
                    <li><a href="/" class="text-light text-decoration-none">Home</a></li>
                    <li><a href="/jobs" class="text-light text-decoration-none">Jobs</a></li>
                    <li><a href="/about" class="text-light text-decoration-none">About</a></li>
                    <li><a href="/contact" class="text-light text-decoration-none">Contact</a></li>
                </ul>
            </div>

            <div class="col-md-4">
                <h6>Contact</h6>
                <p>Email: support@hirehub.com</p>
                <p>Phone: +91 9876543210</p>
            </div>

        </div>

        <hr>

        <p class="text-center mb-0">© 2026 HireHub</p>

    </div>
</footer>

</div>